@font-face {
  font-family: 'BOOTFont';
  src: url('./fonts/ModernDOS9x16.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CRTFont';
  src: url('./fonts/ModernDOS8x16.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically */
  background-color: #111;
  /* Optional: Set a background color */
}

.xterm-viewport {
  overflow: hidden !important;
  /* Prevent scrolling */
}

.xterm-screen {
  /* cursor: default; */
}

.xterm-scroll-area {
  display: none !important;
  /* Hide the scrollbar */
}

#terminal-container {
  display: flex;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  /* Includes the border in the element's dimensions */
  background-color: black;
}